.staff-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 80%;
    position: relative;
    left: 10%;
    justify-content: center;
    margin: 20px;
    height: 100px;
}

.staff-table > div{
    display: flex;
    width: 100%;
    justify-content: center;
    border: 0.5px solid rgb(213, 239, 249);
    align-items: center;
    background-color: beige
}
.head-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 80%;
    position: relative;
    left: 10%;
    justify-content: center;
    margin: 20px;
}

.head-container > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.head-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}