.inputField{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField input{
    width: 250px;
    margin-top: 30px;
    border: 1px solid black;
    font-family: monospace;
    background-color:rgba(177, 232, 232, 0.58);
    border-radius: 15px;
    padding-left: 10px;
}

.inputField textarea{
    width: 250px;
    margin-top: 30px;
    resize: none;
    background-color: rgba(177, 232, 232, 0.58);
    border-radius: 15px;
    padding-left: 10px;
}

.innerContact{
    width: 400px;
    box-shadow: 1px 1px 1px 1px gray;
    margin: 50px;
    background-color:  white;
    border-radius: 30px;
}

.map-container {
    border: 20px solid rgba(177, 232, 232, 0.58);
    border-radius: 25px;
}

.contact-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
    margin-bottom: 75px;
}
.inputField button{
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px;
}
