.inputField{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField input{
    width: 250px;
    margin: 20px;
    border: none;
    font-family: monospace;
}

.inputField textarea{
    width: 250px;
    margin: 20px;
    resize: none;
}

.innerContact{
    width: 400px;
    box-shadow: 0 2px saddlebrown;
    margin: 50px;
    background-color:  rgba(46, 14, 120, 0.491);
}

.map-container {
    border: 20px solid rgb(46, 14, 120);
    border-radius: 25px;
}

.contact-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
    margin-bottom: 75px;
}
.inputField button{
    margin-bottom: 20px;
}
