.present-and-upcoming-notice-list{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: auto;
    border: 1px solid black;
    margin: 35px;
    justify-content: center;
}
.present-and-upcoming-notice-list > div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}